*.vc.db
*.vc.opendb
*.vcxproj.user
*.sln
.vs
_*.cmd
_*.sh

Binaries/
Saved/
Build/
Intermediate/
Saved/
DefaultEditorPerProjectUserSettings.ini
/DerivedDataCache/*.ddc
DebugCrashLogs/
Steam/
Dominance.uproject
obj
bin
/Tools/EventViewer/EventViewer/packages/
desktop.ini
.idea
Plugins/Developer/RiderLink
Dominance.sln.DotSettings.user
Scripts/run_client_1.cmd
Scripts/run_client_2.cmd
Scripts/run_client_3.cmd
Scripts/run_client_4.cmd
lfs/
hooks/
